---
// Import Data
import { BLOG, PROJECT, NAV_ITEMS } from '@src/consts'
// Import Components
import HyperLink from '@components/ui/HyperLink.astro'
// Utils
const { pathname } = Astro.url
---

<nav>
  <ul class="flex items-center gap-4">
    {
      NAV_ITEMS.map((item) => (
        <li
          class={
            pathname === item.path ||
            pathname === `${item.path}/*` ||
            (item.path === BLOG && pathname.startsWith(`${BLOG}/`)) ||
            (item.path === PROJECT && pathname.startsWith(`${PROJECT}/`))
              ? 'text-indigo-400 underline underline-offset-8'
              : 'text-white'
          }
        >
          <HyperLink class="transition-colors duration-300 hover:text-indigo-400" href={item.path}>
            {item.label}
          </HyperLink>
        </li>
      ))
    }
  </ul>
</nav>
