---
// Import Data
import { BLOG, PROJECT, NAV_ITEMS } from '@src/consts'
// Import Components
import HyperLink from '@components/ui/HyperLink.astro'
import MobileNav from './MobileNav'
// Utils
const { pathname } = Astro.url
---

<nav>
  <ul class="hidden items-center gap-4 md:flex">
    {
      NAV_ITEMS.map((item) => (
        <li
          id="nav__link"
          class={
            pathname === item.path ||
            pathname === `${item.path}/*` ||
            (item.path === BLOG && pathname.startsWith(`${BLOG}/`)) ||
            (item.path === PROJECT && pathname.startsWith(`${PROJECT}/`))
              ? 'text-secondary underline underline-offset-8'
              : 'text-white'
          }
        >
          <HyperLink class="transition-colors duration-300 hover:text-secondary" href={item.path}>
            {item.label}
          </HyperLink>
        </li>
      ))
    }
  </ul>
  <MobileNav client:visible />
</nav>
