---
import '../styles/post.style.css'
import type { CollectionEntry } from 'astro:content'

import AppPage from './AppPage.astro'
import ContentPost from './ContentPost.astro'
import { Image } from 'astro:assets'
import { SITE_TITLE } from '@src/consts'
import TagIcon from '@src/components/ui/TagIcon.astro'
import ImageAutor from '@src/components/ui/ImageAutor.astro'
import AboutPost from '@components/post/AboutPost.astro'
import LastUpdate from '@src/components/post/LastUpdate.astro'
import Spacer from '@src/components/ui/Spacer.astro'

type Props = CollectionEntry<'blog'>['data']

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  author,
  imageCredit,
  imageAuthor,
  tags
} = Astro.props
---

<AppPage title={`${SITE_TITLE} - ${title}`} description={description}>
  <ContentPost>
    <article>
      {
        heroImage && (
          <div class="relative mb-10 h-96 w-full overflow-hidden">
            <Image
              class="post_image h-0 w-full rounded-bl-xl rounded-br-xl object-cover"
              format="avif"
              quality="mid"
              width={1920}
              height={1080}
              src={heroImage}
              alt={title}
            />
            <span class="author opacity-0">
              <ImageAutor href={imageCredit} label={imageAuthor} />
            </span>
          </div>
        )
      }
      <AboutPost title={title} author={author} pubDate={pubDate} />
      <TagIcon tags={tags} class="py-4" />
      <Spacer />
      <article class="post">
        <slot />
      </article>
      {updatedDate && <LastUpdate date={updatedDate} />}
      <Spacer class="my-10" />
    </article>
  </ContentPost>
</AppPage>

<script src="../animation/animateBlogPost.ts"></script>
<script src="../components/hooks/copyButton.ts"></script>
