---
import "../styles/post.style.css";
import type { CollectionEntry } from "astro:content";

import AppPage from "./AppPage.astro";
import ContentPost from "./ContentPost.astro";
import { Image } from "astro:assets";
import { SITE_TITLE } from "@src/consts";
import AboutProject from "@src/components/projects/AboutProject.astro";
import Spacer from "@src/components/ui/Spacer.astro";
import ImageAutor from "@src/components/ui/ImageAutor.astro";
import TagIcon from "@src/components/ui/TagIcon.astro";

type Props = CollectionEntry<"project">["data"];

const {
  title,
  description,
  heroImage,
  pubDate,
  imageCredit,
  imageAuthor,
  github,
  deploy,
  tags,
} = Astro.props;

const conditionalGithub = !!github;
const conditionalDeploy = !!deploy;
---

<AppPage title={`${SITE_TITLE} - ${title}`} description={description}>
  <ContentPost>
    <div class="w-full h-96 mb-10 relative overflow-hidden animate-in fade-in duration-1000">
      <Image
        class="w-full h-full object-cover rounded-bl-xl rounded-br-xl"
        format="avif"
        quality="mid"
        width={1920}
        height={1080}
        src={heroImage}
        alt={title}
      />
      <ImageAutor href={imageCredit} label={imageAuthor} />
    </div>
    <AboutProject
      title={title}
      pubDate={pubDate}
      github={github}
      publicGithub={conditionalGithub}
      deploy={deploy}
      deployLive={conditionalDeploy}
    />
    <TagIcon tags={tags} />
    <Spacer />
    <article class="post">
      <slot />
    </article>
  </ContentPost>
</AppPage>
